@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200;400;500&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
main{
    width: 100%;
    height: 100vh;
    background-image: url('./assets/bg-img/cloudy-night.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Anek Latin', sans-serif;
    display: flex;
    justify-content: space-between;
}
main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    z-index: 0;
}
.left-col{
    z-index: 1;
    width: 55%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0px 60px 60px;
}
.exponent{
    display: flex;
    align-items: center
}
.exponent .temp{
    font-size: 100px;
    font-weight: 500;
}
.exponent .city-prop{
    padding-left: 20px;
}
.exponent .city-prop .city-name{
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 10px;
}
.exponent .weather-prop{
    padding-left: 20px;
}
.exponent .weather-prop .condition{
    margin-left: 10px;
}

.right-col{
    z-index: 1;
    width: 45%;
    height: 100vh;
    background: rgba(110,110,110,0.25);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(110,110,110,0.3);
    padding: 40px 30px;
    color: rgba(225,225,225,0.7);
    font-size: 18px;
}   
form{
    width: 100%;
}
.search{
    background: none;
    border: none;
    outline: none;
    padding-bottom: 8px;
    font-size: 18px;
    color: rgba(225,225,225,0.7);
    border-bottom: 1.4px solid rgba(225,225,225,0.7);
    font-family: 'Anek Latin', sans-serif;
    width: 70%;
}
.search::placeholder{
    color: rgba(225,225,225,0.7);
}
.search:focus::placeholder {
    color: transparent;
}
.submit{
    background: none;
    border: none;
    font-size: 23px;
    color: rgba(225,225,225,0.7);
    cursor: pointer;
    padding-left: 15px;
}
.cities{
    margin-top: 20px;
}
.city{
    margin: 35px 0px;
    cursor: pointer;
}
.city:hover{
    color: white;
}
.details{
    margin-top: 80px;
}
.details h3{
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.detail-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 35px 0px;
}
.error-box{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 17px 18px;
    z-index: 100;
    background: rgba(255,0,0,0.5);
    border-left: 5px solid red;
    color: white; 
    font-size: 18px;  
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}
.showAlert{
    opacity: 1;
    pointer-events: auto;
}
.show{
    animation: show_slide 1s ease forwards;
    opacity: 1;
    pointer-events: auto;
}
.hide{
    animation: hide_slide 1s ease forwards;
}
@keyframes show_slide{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10px);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
@keyframes hide_slide{
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(100%);
    }
}

@media screen and (max-width: 792px) {
    main{
        flex-direction: column;
        height: 100%;
    }
    .left-col{
        justify-content: flex-start;
        width: 100%;
        padding-left: 30px;
    }
    .exponent{
        margin-top: 20px;
    }
    .exponent .temp{
        font-size: 80px;
    }
    .exponent .city-prop .city-name{
        font-size: 38px;
    }
    .exponent .weather-prop img{
        width: 60px;
        margin-bottom: -7px;
    }
    
    .right-col{
        width: 100%;
        margin-top: -430px;
        padding: 30px 30px;
        height: 80%;
    }   
    .city{
        margin: 25px 0px;
    }
    .detail-row{
        margin: 25px 0px;
    }
}
@media screen and (max-width: 376px) {
    .exponent{
        flex-direction: column;
        align-items: flex-start;
    }
    .exponent .city-prop{
        padding-left: 0px;
    }
    .right-col{
        margin-top: -350px;
    }
}